In [1]:
from pyspark.sql.functions import max, min, sum, mean, when

# Run the date count jobs tasks
from jobs.solana import SparkJob

job = SparkJob()
dfc = job.solana_realias_join()


# df = df.select("volume",
#                "open",
#                when((df.volume > 5000) | (df.volume < 1000) , 1).otherwise(0).alias("case1"),
#                when((df.volume > 2500) & (df.open == 3) , 1).otherwise(0).alias("case2")
#               )
 
# df.select('open_time').show(10)
# df.select('a.open_time').show(10)

# dataDF.withColumn("new_column",
#        when((col("code") == "a") | (col("code") == "d"), "A")
#       .when((col("code") == "b") & (col("amt") == "4"), "B")
#       .otherwise("A1")).show()

attempting realias
preprocessing completed.
preprocessing completed.
count: 59095
count: 59095
count: 59095
+--------------------+----+-----+-----+
|           open_time|open|close|close|
+--------------------+----+-----+-----+
|2020-08-11 06:00:...|   2|    3|    3|
|2020-08-11 06:15:...|   3|    3|    3|
|2020-08-11 06:30:...|   3|    2|    2|
|2020-08-11 06:45:...|   3|    2|    2|
|2020-08-11 07:00:...|   2|    3|    3|
|2020-08-11 07:15:...|   3|    3|    3|
|2020-08-11 07:30:...|   3|    2|    2|
|2020-08-11 07:45:...|   2|    2|    2|
|2020-08-11 08:00:...|   2|    2|    2|
|2020-08-11 08:15:...|   2|    2|    2|
+--------------------+----+-----+-----+
only showing top 10 rows

+--------------------+----+-----+
|           open_time|open|close|
+--------------------+----+-----+
|2020-08-11 06:00:...|   2|    3|
|2020-08-11 06:15:...|   3|    3|
|2020-08-11 06:30:...|   3|    2|
|2020-08-11 06:45:...|   3|    2|
|2020-08-11 07:00:...|   2|    3|
|2020-08-11 07:15:...|   3|    3|
|2020-08-11 07:30:...|   3|    2|
|2020-08-11 07:45:...|   2|    2|
|2020-08-11 08:00:...|   2|    2|
|2020-08-11 08:15:...|   2|    2|
+--------------------+----+-----+
only showing top 10 rows

count: 59095
count: 59095

+--------------------+----+-----+
|           open_time|open|close|
+--------------------+----+-----+
|2020-08-11 06:00:...|   2|    3|
|2020-08-11 06:15:...|   3|    3|
|2020-08-11 06:30:...|   3|    2|
|2020-08-11 06:45:...|   3|    2|
|2020-08-11 07:00:...|   2|    3|
|2020-08-11 07:15:...|   3|    3|
|2020-08-11 07:30:...|   3|    2|
|2020-08-11 07:45:...|   2|    2|
|2020-08-11 08:00:...|   2|    2|
|2020-08-11 08:15:...|   2|    2|
+--------------------+----+-----+
only showing top 10 rows

In [4]:
dfc.show(10)

AttributeError: 'NoneType' object has no attribute 'show'