In [1]:
# %%timeit
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit, col, round
from pyspark.sql.functions import year, month, dayofmonth
from pyspark.sql.functions import max, min, sum, mean, when, udf
from pyspark.sql.types import IntegerType, DoubleType
from pyspark.rdd import RDD
from pyspark.sql.dataframe import DataFrame as DataFrame
from pandas.core.frame import DataFrame as PandasDataframe

# Run the date count jobs tasks
from jobs.solana import SparkJob

job = SparkJob()
job.solana_groupby_count_single_salted()

preprocessing completed.
59095
59095
+-----+----------+
|month|sum(count)|
+-----+----------+
|    3|      5946|
|    5|      2976|
|   10|      5952|
|    4|      4651|
|    7|      2976|
|    8|      4950|
|   11|      5756|
|    1|      5952|
|    9|      5752|
|    6|      2880|
|    2|      5371|
|   12|      5933|
+-----+----------+

In [2]:
job = SparkJob()
job.solana_groupby_count_single()

preprocessing completed.
+-----+-----+
|month|count|
+-----+-----+
|    3| 5946|
|    5| 2976|
|   10| 5952|
|    4| 4651|
|    8| 4950|
|   11| 5756|
|    1| 5952|
|    9| 5752|
|   12| 5933|
|    2| 5371|
|    6| 2880|
|    7| 2976|
+-----+-----+

In [3]:
job.preprocessing_timeseries().count()

preprocessing completed.

59095

In [4]:
job.solana_groupby__single_salted()

AttributeError: 'SparkJob' object has no attribute 'solana_groupby__single_salted'

In [17]:
salval = rand() * int(job.shuffle_partitions()) - 1
print(sal_col)

Column<'((rand(1402140963608574907) * 200) - 1)'>

In [20]:
df.withColumn("salt", lit(salval).cast(IntegerType())).show(10)

+--------------------+----+-----+----+
|           open_time|open|close|salt|
+--------------------+----+-----+----+
|2020-08-11 06:00:...|   2|    3|  19|
|2020-08-11 06:15:...|   3|    3| 156|
|2020-08-11 06:30:...|   3|    2| 133|
|2020-08-11 06:45:...|   3|    2|  57|
|2020-08-11 07:00:...|   2|    3| 142|
|2020-08-11 07:15:...|   3|    3| 142|
|2020-08-11 07:30:...|   3|    2| 133|
|2020-08-11 07:45:...|   2|    2|  80|
|2020-08-11 08:00:...|   2|    2|  78|
|2020-08-11 08:15:...|   2|    2|  25|
+--------------------+----+-----+----+
only showing top 10 rows